.chat-div {

 
  
  height:100vh;
  display:flex;
 
}

.chatlist-div{

  
flex:0 2 250px;
background-color: #888e96



}

.chatbox-div{

 border: 2px solid blue;
flex: 4 1 800px;
background-color: #888e96;

}

.flex-item{


	display: flex;
	flex-direction: column;
}